.timerView {
  padding: 12px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timerView__time {
  font-size: 5rem;
  font-weight: bold;
  display: block;
}

.timerView__label {
  padding: 4px 8px;
  margin: 8px;
}

.timerView__cube {
  height: 200px;
}

.timerView__info--mobile {
  display: none;
}

@media (max-width: 800px) {
  .timerView {
    flex-direction: column-reverse;
  }

  .timerView__info {
    display: none;
  }

  .timerView__info--mobile {
    display: block;
    text-align: center !important;
  }

  .timerView__controls {
    display: none;
    flex-direction: column;
  }
}
