.timeList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 12px;
}

.timeList__headers {
  line-height: 1.6rem;
  background: var(--main-color);
  color: var(--text-color);
}

.timeList__headers > tr > th {
  padding: 4px 8px;
}

.timeList__table {
  height: 170px;
  overflow: auto;
  border: 1px solid black;
  padding: 4px;
}

.timeList__table > table {
  width: 100%;
}
