/* reset */

* {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* base styles */

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color-hover);
}

/* vars */

:root {
  --main-color: brown;
  --text-color: #eee;
  --text-color-hover: #ccc;
}
